body {
  background-color: #0b0c10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://cdn.jsdelivr.net/gh/Immanuel779/cdn-files/particles.gif') center center / cover no-repeat;
  opacity: 0.2;
  z-index: 0;
}

.hero-section * {
  position: relative;
  z-index: 1;
}

h1{
  color: #fff;
}

p{
  color: #fff;
}

#about {
  position: relative;
  z-index: 1;
}

#about::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('./IMG-20250330-WA0119.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

h2{
  text-align: center;
  color: #c084fc;
}

.card {
border-radius: 12px;
}

.progress {
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  line-height: 10px;
  font-size: 14px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-in-out both;
}


.fade-up{
  opacity: 0;
 transform: translateY(30px);
  transition: all 0.8s ease;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}